.header {
  padding: 2rem 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #232b3e;

  h1 {
    color: #cdb68a;
    font-size: 1.5rem;
  }

  &__ul {
    display: none;

    li {
      position: relative;
      margin: 1rem;
      list-style: none;
    }

    a {
      text-decoration: none;
    }

    img {
      border-radius: 4rem;
      padding: 0.15rem;
      transition: all 0.2s ease;

      &:hover {
        background-color: #ada495;
      }
    }
  }

  &__btn {
    border: none;
    background-color: transparent;
    color: #cdb68a;
    font-size: 1.5rem;
    cursor: pointer;
  }
}

.mobile_menu {
  background-color: #2f3a53;
  padding: 2rem 1rem;

  ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;

    li {
      margin: 1rem 0.25rem;
      list-style: none;
    }
  }
}

.active {
  background-color: #ada495;
  position: relative;
  border-radius: 4rem;
}

@media screen and (min-width: 900px) {
  .header {
    &__ul {
      img {
        width: 3.125rem;
        height: auto;
      }
    }
  }
}

@media screen and (min-width: 1000px) {
  .header {
    justify-content: space-evenly;
    padding: 1rem 1.5rem;
    &__ul {
      display: flex;
    }

    &__btn {
      display: none;
    }
  }
}

@media screen and (min-width: 1200px) {
  .header {
    padding: 1rem 1.5rem;

    h1 {
      font-size: 1.75rem;
    }

    &__ul {
      img {
        width: 65px;
      }
    }

    &__btn {
      display: none;
    }
  }
}

// 1200px start large icons
