.header {
  padding: 0rem 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: yellow;
}

.nav {
  display: flex;

  li {
    margin: 0rem 2rem;
    list-style: none;
  }

  a {
    color: black;
    text-decoration: none;
    font-weight: 600;
  }
}
