.header {
  padding: 0rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #232b3e;

  h1 {
    color: #d3bd8c;
  }

  &__ul {
    display: flex;

    li {
      margin: 1rem;
      list-style: none;
    }

    a {
      text-decoration: none;
    }
  }
}
