.error {
  margin: 1rem;
  line-height: 1.6;
  color: white;
  text-align: center;

  h1 {
    font-size: 3rem;
  }

  p {
    // margin-top: 0.5rem;
    font-weight: 600;
    // margin: 1rem;
  }

  a {
    display: inline-block;
    margin-top: 2rem;
    color: white;
    font-size: 1.15rem;
    padding: 0.65rem 2rem;
    background-color: #707da1;
    font-weight: 600;
    border-radius: 0.5rem;
    text-decoration: none;
  }
}
