.footer {
  height: 100%;
  display: flex;
  align-items: center;

  button {
    font-family: inherit;
    border: none;
    cursor: pointer;
  }

  &__dropbtn {
    color: #495366;
    background-color: #ece5d8;
    padding: 0.5rem 5rem;
    border-radius: 2rem;
    font-size: 1.15rem;
    font-weight: 700;
    text-align: left;
    margin: 1rem 0rem;
  }

  &__orderbtn {
    color: #495366;
    background-color: #ece5d8;
    font-size: 2rem;
    font-weight: 700;
    padding: 0 0.45rem;
    border-radius: 2rem;
    margin: 0rem 1rem;
  }
}

.dropdown {
  background-color: #ece5d8;
  position: absolute;
  bottom: 65px;

  &__content {
    background-color: #ece5d8;
    display: flex;
    flex-direction: column;

    button {
      border-radius: 2rem;
      padding: 1rem;
    }
  }
}

@media screen and (min-width: 400px) {
  .footer {
    margin: 0rem 2rem;
  }
}

@media screen and (min-width: 1000px) {
  .footer {
    margin: 0rem 5rem;
  }
}

@media screen and (min-width: 1200px) {
  .footer {
    margin: 0rem 6rem;
  }
}
