.info_card {
  position: absolute;
  height: 100vh;
  background-color: #eae3d7;
  overflow-y: auto;

  &__name {
    background-color: #bc6932;
    color: white;
    padding: 1rem 2rem;
  }

  &__images {
    padding: 1rem 2rem;
    background-color: #755953;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    p {
      font-size: 1.35rem;
      font-weight: 600;
      margin: 0.25rem 0rem;
    }

    img {
      margin-top: 1rem;
      width: 150px;
      height: 150px;
    }
  }

  &__description {
    padding: 1rem 2rem;
    background-color: #eae3d7;
    color: #495366;
    line-height: 1.6;
    overflow-y: auto;

    span {
      color: #3299cc;
    }

    p {
      font-size: 1.35rem;
      font-weight: 600;

      &:last-child {
        margin-top: 1rem;
        color: #717782;
      }
    }
  }
}

@media screen and (min-width: 490px) {
  .info_card {
    width: 490px;
    min-width: 490px;
  }
}

@media screen and (min-width: 690px) {
  .info_card {
    position: relative;
    height: 73vh;
  }
}

@media screen and (min-width: 820px) {
  .info_card {
    margin: 1rem 2rem;
  }
}

.rarity-1 {
  .info_card {
    &__name {
      background-color: #72778b;
    }

    &__images {
      background-color: #525864;
    }
  }
}

.rarity-2 {
  .info_card {
    &__name {
      background-color: #2a8f72;
    }

    &__images {
      background-color: #4a6062;
    }
  }
}

.rarity-3 {
  .info_card {
    &__name {
      background-color: #5180cb;
    }

    &__images {
      background-color: #51597a;
    }
  }
}

.rarity-4 {
  .info_card {
    &__name {
      background-color: #a156e0;
    }

    &__images {
      background-color: #6a5c92;
    }
  }
}

.rarity-5 {
  .info_card {
    &__name {
      background-color: #bc6932;
    }

    &__images {
      background-color: #755953;
    }
  }
}
