.stats_card {
  // height: 838px;
  width: 490px;
  min-width: 490px;
  background-color: #eae3d7;
  margin: 1rem 2rem;

  &__name {
    background-color: #bc6932;
    color: white;
    padding: 1rem 1.5rem;
  }

  &__info {
    padding: 1rem 1.5rem;
    background-color: #755953;
    display: flex;
    justify-content: space-between;

    img {
      width: 150px;
      height: 150px;
    }
  }

  &__base {
    h2 {
      color: white;
      font-size: 2rem;
    }

    p {
      font-size: 1.35rem;
      margin: 0.25rem 0rem;
    }

    &_light {
      color: #b8aba9;
    }

    &_bold {
      color: white;
    }
  }

  &__description {
    padding: 1rem 1.5rem;
    background-color: #eae3d7;
    color: #495366;
    line-height: 1.6;

    span {
      color: #3299cc;
    }

    p {
      font-size: 1.35rem;
      font-weight: 500;
    }
  }
}

.rarity-1 {
  .stats_card {
    &__name {
      background-color: #72778b;
    }

    &__info {
      background-color: #525864;
    }
  }
}
.rarity-2 {
  .stats_card {
    &__name {
      background-color: #2a8f72;
    }

    &__info {
      background-color: #4a6062;
    }
  }
}
.rarity-3 {
  .stats_card {
    &__name {
      background-color: #5180cb;
    }

    &__info {
      background-color: #51597a;
    }
  }
}

.rarity-4 {
  .stats_card {
    &__name {
      background-color: #a156e0;
    }

    &__info {
      background-color: #6a5c92;
    }
  }
}
.rarity-5 {
  .stats_card {
    &__name {
      background-color: #bc6932;
    }

    &__info {
      background-color: #755953;
    }
  }
}
